html:lang(zh), html:lang(zh-Hant), [lang^="zh"], [lang*="Hant"], [lang="zh-TW"], [lang="zh-HK"], article strong:lang(zh), article strong:lang(zh-Hant) {
    font-family: "Source Han Sans TC", "Biaodian Pro Sans CNS", "Helvetica Neue", Helvetica, Arial, "Zhuyin Heiti", "Han Heiti", sans-serif;
}

html {
    line-height: 1.7;
    -webkit-font-smoothing: subpixel-antialiased;
}
p{
    text-indent: 2em;
    margin: 20%;
    text-align: justify;
}
footer {
    margin-top: -1em;
    margin-left: 20%;
    margin-right: 20%;
/*    padding: 1em 2em 2em;*/
    position: relative;
    text-align: right;
}

footer .logo {
    display: inline-block;
    width: 6em;
    height: 2em;
    text-indent: -200000px;
    text-align: left;
    overflow: hidden;
    background: url("./SITCON-colored.svg") center no-repeat;
    background-size: contain;
    display: block;
    float: right;
}

